*{
    margin: 0 auto;
}
.aboutsection{
    margin: 5% 12%;
}
.row{
    padding: 2%;
}
.row span {
    font-size: 50px;
    margin-bottom: 3%;
}
.aboutus h1{
    font-size: x-large;
    text-align: center;
}
