*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    list-style-type: none;
    border: none;
    outline: none;
    font-family: sans-serif;
    transition: 0.5s ease;
}
html{
    scroll-behavior: smooth;
}
button:hover{
    cursor: pointer;
}

/* Navbar Section */
.header{
    padding:1em 1.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header img{
    width: 8%;
}
.header nav{
    display: flex;
    justify-content: space-between;
    width: 70%;
    font-size: 1.3em;
}
.header nav p{
    display: inline-block;
    font-size: 1.04em;
}
#menu-btn{
    display: none;
}

/* Welcome Section */
.banner{
    background:linear-gradient(rgba(0,0,0,0.38),rgba(0,0,0,0.39)),url('./img/highlights-img.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 85vh;
    position: relative;
    z-index: 1;
    object-fit: cover;
}
.welcome-content{
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%,-50%);
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: auto 6vw;
    align-items:start;
    z-index: 2;
}
.heading-container{
    font-size: 1.5vw;
    font-weight: bold;
    line-height: 1.75;
    letter-spacing: 2px;
}
.heading-container h1,.heading-container p,.heading-container h3{
    color: white;
}
.heading-container p{
    font-size: 1.1em;
    margin-top: -.3em;
}
.heading-container a{
    color: #c5f65c;
}
.form-container{
    width: 35%;
}
.form-container form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.form-container input,.form-container button{
    width: 80%;
    margin-bottom: 1.5em;
    padding: 0.55em;
    font-size: 1.15vw;
    border-radius: 6px;
}
.form-container input::placeholder{
    color: black;
}
.form-container button{
    border-radius: 8px;
    background-color: #1A1B41;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

/* Overview Section */
.overview-section{
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #f1ffe7;
    padding: 2em;
}
.overview-container{
    max-width: 1280px;
    margin:3em auto;
    padding: 1em 2em;
    border-radius: 16px;
    text-align: center;
    background-color: white;
    box-shadow: .1em .1em .9em 3px rgba(0,0,0,0.2);
}
.overview-info{
    letter-spacing: 1px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: start;
    gap:1.2em;
}
.overview-info div{
    margin: .8em;
}
.overview-container .heading-section{
    position: relative;
    margin-bottom: 2em;
}
.overview-container .overlay-heading{
    color:rgba(148, 148, 148, 0.3);
    font-size: 5em;
    letter-spacing: 5px;
    font-weight:900;
    border-bottom: 1px solid grey;
    display: inline-block;
}
.overview-container .normal-h1{
    position: absolute;
    bottom:0%;
    left: 50%;
    transform: translate(-50%,0%);
    letter-spacing: 2px;
    border-bottom: 4px solid darkblue;
}
.overview-container p{
    font-size: 1.08em;
    text-align: justify;
}
.method1{
    width: 24%;
    object-fit: cover;
    border-radius: 1%;
}
.method2{
    width: 24%;
    object-fit: cover;
    border-radius: 1%;
}
.overview-images{
    display: flex;
    justify-content: center;
    gap:2em;
}
.overview-images img{
    width: 35%; 
}

/* Amenities Section */
.amenities-container{
    position: relative;
    text-align: center;
    max-width: 1300px;
    margin: 2em auto;
    margin-bottom: 0;
}
.amenities-container .heading-section{
    position: relative;
    margin-bottom: 2em;
}
.amenities-container .overlay-heading{
    color:rgba(148, 148, 148, 0.3);
    font-size: 5em;
    letter-spacing: 5px;
    font-weight:900;
    border-bottom: 1px solid grey;
    display: inline-block;
}
.amenities-container .normal-h1{
    position: absolute;
    bottom:0%;
    left: 50%;
    transform: translate(-50%,0%);
    letter-spacing: 2px;
    border-bottom: 4px solid darkblue;
    font-size: 2em;
}
.amenities{
    margin: 3em 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 2em;
}
.amenities img{
    width: 100%;
}
.amenities p{
    line-height: 1.2;
    margin: 1em 0.5em;
    white-space: nowrap;
}

/* Form Popup Section */
.form-popup{
    position: fixed;
    z-index: 10;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.form-popup .form-content{
    width: 48%;
    background-color: white;
    margin: 6em auto;
    padding: 0.5em;
    border-radius: 5px;
}
.form-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.form-content img{
    width: 95%;
    height: 70vh;
    object-fit: cover;
    filter: grayscale(0.5);
}
.form-heading{
    line-height: 2.3em;
}
.form-heading form{
    margin: 2em 0;
}
.form-heading form input{
    display: block;
    border:1px solid black;
    padding: 0.5em;
    font-size: 1.24vw;
    width: 95%;
    margin: 0.8em 0;
    border-radius: 5px;
}
.form-heading p{
    color:#272851;
    font-weight: bold;
    font-size: 1.5vw;
}
.form-heading h2{
    color: rgb(1, 119, 1);
}
.form-heading form button{
    width: 95%;
    background-color: rgb(5, 121, 142);
    background-color:#1A1B41;
    padding: 0.5em;
    font-size: 1.24vw;
    color: white;
    border-radius: 5px;
}
.form-heading form input::placeholder{
    color: black;
}
.close-modal{
    display: block;
    text-align: end;
    margin: 0.4em 0.3em;
    font-size: 2.5em;
}
.close-modal:hover{
    cursor: pointer;
}
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}   
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
.form-popup{
    display: none;
}

/*price-section*/

.price-container{
    display: flex;
    flex-direction: column;
    margin-top: 6rem;   
}
.price_items{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding:1.5rem;
    /*background-color: #F1FFE7;*/
}
.price-container h2{
    margin-left: 50%;
}
.price_heading{
    position: relative;
    text-align: center;
    background-color: #1A1B41;
}
.price_heading .overlay-heading{
    color:rgba(241, 255, 231, 0.1);
    font-size: 5em;
    letter-spacing: 5px;
    font-weight:900;
    border-bottom: 1px solid #272851;
    display: inline-block;
}
.price_heading .normal-h1{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0%);
    letter-spacing: 2px;
    padding-bottom: 0.5em;
    border-bottom: 4px solid #F1FFE7;
    margin-bottom: 66.4px;
}
.price_item h3{
    /*border: 1px solid black;*/
    font-size: 27px;
    padding: 0.8rem;
    text-align: center;
    box-shadow: .1em .1em .9em 3px rgba(0,0,0,0.2);
    background-color: #1A1B41;
    color: #F1FFE7;

}
.price_item{
    /*border: 1px solid black;*/
    font-family: sans-serif;
    min-width: 300px;
}
.price_item_info{
    /*border: 1px solid black;*/
    text-align: center;
    box-shadow: .1em .1em .9em 3px rgba(0,0,0,0.2);
    background-color:  #F1FFE7;
}
.price_item_info h4{
    font-size: 20px;
    padding-top: 2rem;
   
    text-align: center;
}
.price_item_info button{
    margin: 2rem;
    padding: 15px;
    font-size: 16px;
    background-color: #1A1B41;
    border: none;
    color: #F1FFE7;
    border-radius: 5px;

}
.price_item_info button:hover{
    cursor: pointer;
    opacity: 85%;
}
.space{
    margin: 5rem;
}

/*Floor Plan */

.floor-plan-container{
    padding-bottom: 30px;
}
.floor-plan-heading{
    position: relative;
    text-align: center;
    background-color: #272851;
}
.floor-plan-heading .overlay-heading{
    color:rgba(241, 255, 231, 0.1);
    font-size: 5em;
    letter-spacing: 5px;
    font-weight:900;
    border-bottom: 1px solid #1A1B41;
    display: inline-block;
}
.floor-plan-heading .normal-h1{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0%);
    letter-spacing: 2px;
    padding-bottom: 0.5em;
    border-bottom: 4px solid #F1FFE7;
    margin-bottom: 66.4px;
}
.floor-image-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.floor-image-container img{
    max-width: 450px;
   margin: 2rem;
   width: 100%;
}

/* Highlights Section */
.highlights-section{
    text-align: center;
}
.highlights-section .heading-section{
    position: relative;
    margin-bottom: 2em;
}
.highlights-section .overlay-heading{
    color:rgba(148, 148, 148, 0.3);
    font-size: 5em;
    letter-spacing: 5px;
    font-weight:900;
    border-bottom: 1px solid grey;
    display: inline-block;
}
.highlights-section .normal-h1{
    position: absolute;
    bottom:0%;
    left: 50%;
    transform: translate(-50%,0%);
    letter-spacing: 2px;
    padding-bottom: 0.5em;
    border-bottom: 4px solid darkblue;
    /* border-bottom: 4px solid #7a5833; */
    font-size: 2em;
}
.highlights-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.highlights-build{
    background-color: white;
    margin: 10% 14%;
    padding: 4%;
    text-align: center;
    box-shadow: 5px 0px 10px 5px white;
}
.highlights-build:hover {
    cursor: pointer;
    transform: translate(0, -12px);
}

/* connectivity section */
.connectivity-section{
    position: relative;
    overflow: hidden;
    background-color: #f1ffe7;
    /* background-color: #f4e9e3; */
}
.connectivity-container{
    text-align: center;
    max-width: 1280px;
    margin:3em auto;
    padding: 1em 2em;
    border-radius: 16px;
    background-color: white;
    box-shadow: .1em .1em .9em 3px rgba(0,0,0,0.2);
}
.connectivity-container .heading-section{
    position: relative;
    margin-bottom: 2em;
}
.connectivity-wrap{
    display: flex;
    padding: 2% 5%;
}
.connectivity-column{
    margin: 0px 100px 0px 0px;
    text-align: left;
    line-height: 30px;
}
.connectivity-column ul{
    margin-left: 4%;
    margin-top: 2%;
}
.connectivity-column li{
    list-style: disc;
}
.connectivity-column p{
    margin-top: 15px;
}
.connectivity-container .overlay-heading{
    color:rgba(148, 148, 148, 0.3);
    font-size: 5em;
    letter-spacing: 5px;
    font-weight:900;
    border-bottom: 1px solid grey;
    display: inline-block;
}
.connectivity-container .normal-h1{
    position: absolute;
    bottom:0%;
    left: 50%;
    transform: translate(-50%,0%);
    letter-spacing: 2px;
    padding-bottom: 0.5em;
    border-bottom: 4px solid darkblue;
    font-size: 2em;
}
.map-container img{
    height: 320px;
    margin-top: 15px;
}

/* gallery */
.gallery-container{
    text-align: center;
    max-width: 900px;
    margin: 2em auto;
}
.glide__slide{
    height: 90vh;
}
.glide__slide img{
    width: 100%;
    border-radius: 2%;
    text-align: center;
    border: 2px solid;
}
.gallery-container .heading-section{
    position: relative;
    margin-bottom: 2em;
}
.gallery-container .overlay-heading{
    color:rgba(148, 148, 148, 0.3);
    font-size: 5em;
    letter-spacing: 5px;
    font-weight:900;
    border-bottom: 1px solid grey;
    display: inline-block;
}
.gallery-container .normal-h1{
    position: absolute;
    bottom:0%;
    left: 50%;
    transform: translate(-50%,0%);
    letter-spacing: 2px;
    padding-bottom: 0.5em;
    border-bottom: 4px solid darkblue;
    font-size: 2em;
}

/*footer section*/

.footer{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #272851;
    padding: 40px;
    font-family: sans-serif;
    font-size: 18px;
}
.footer-form-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 50%;
}
.footer-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-left: 15px;
    align-items: center;
}
.footer-form-container h3{
    color: #F1FFE7;
    border-bottom: 1px solid gray;
    padding: 5px;
    border-width: 25%;
}
.footer-form input{
    margin: 1.5em;
    width: 65%;
    padding: 0.55em;
    border-radius: 5px;
    border: none;
}
.footer-form button{
    padding: 0.55em;
    width: 75%;
    margin: 1.5em;
    background-color: #F1FFE7;
    color: #1A1B41;
    border-radius: 5px;
    font-family: sans-serif;
}
.footer-form button:hover{
    cursor: pointer;
    opacity: 75%;
}
.footer-contact{
    color: #F1FFE7;
    text-align: center;
}
.footer-contact h3{
    border-bottom: 1px solid gray;
    padding: 5px;
}

/* Media Queries */

/* Navbar Section*/
@media screen and (min-width:1400px) {
    .header p::after{
        content: "";
        display: block;
        height: 3.5px;
        transform: scaleX(0);
        background-color:black;
        transition: transform 300ms;
    }
    .header p:hover::after{
        transform: scaleX(1);
    }  
}
@media screen and (max-width:1400px) {
    .header{
        position: relative;
    }
    .header nav{
        position: absolute;
        display: block;
        top:99%;
        left:0;
        right: 0;
        z-index: 5;
        width: 100%;
        background-color: white;
    }
    .navbar-container{
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header nav p:nth-child(1){
        border-top: 1px solid black;
    }
    .header nav p{
        display: block;
        text-align: center;
        padding: 0.8em;
        border-bottom: 1px solid black;
    }
    .header nav a:hover{
        color: darkblue;
    }
    .header img{
        width: 10%;
    }
    #menu-btn{
        display: block;
        padding: 10px;
        border: 2px solid black;
        border-radius: 5px;
        font-size: 1.3em;
    }
    .open-menu{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}
@media screen and (max-width:1000px) {
    .header img{
        width: 13%;
    }
}
@media screen and (max-width:800px) {
    .header img{
        width: 16%;
    }
}
@media screen and (max-width:600px) {
    .header img{
        width: 18%;
    }
}

/* Welcome Section */
@media screen and (max-width:1200px) {
    .welcome-content{
        width: 90%;
    }
    .heading-container{
        font-size: 2vw;
    }
    .form-container{
        width: 45%;
    }
    .form-container input,.form-container button{
        padding: 0.7em;
        font-size: 1.45vw;
    }
}
@media screen and (max-width:900px) {
    .welcome-content{
        flex-direction: column;
        align-items: center;
        gap: 2.5em;
    }
    .heading-container{
        margin-top: 2em;
        font-size: 2.3vw;
        text-align: center;
    }
    .form-container{
        width: 60%;
    }
    .form-container form{
        align-items: center;
    }
    .form-container input,.form-container button{
        padding: 0.8em;
        font-size: 1.8vw;
    }
}
@media screen and (max-width:600px) {
    .heading-container{
        font-size: 2.8vw;
        text-align: center;
    }
}
@media screen and (max-width:580px) {
    .heading-container{
        font-size: 3.4vw;
        text-align: center;
    }
    .form-container{
        width: 80%;
    }
    .form-cntainer form{
        align-items: center;
    }
    .form-container input,.form-container button{
        padding: 1em;
        font-size: 2vw;
    }
}

/* Overview Section */
@media screen and (min-width:800px) {
    .overview-section-medium{
        display: none;
    }
}
@media screen and (max-width:800px) {
    .overview-section-medium{
        width: 100%;
        position: relative;
        overflow: hidden;
        background-color: #f1ffe7;
        padding: 2em 2.5em;
        text-align: center;
    }
    .overview-section-medium img{
        width:70%;
        text-align: center;
        margin: auto;
    }
    .overview-section{
        display: none;
    }
    .overview-section-medium .overlay-heading{
        display: none;
    }
    .overview-section-medium .normal-h1{
        display: none;
    }
    .overview-section-medium .medium-h1{
        margin: 1em;
        margin-bottom: 0.5em;
        padding-bottom: 0.5em;
        display: inline-block;
        border-bottom: 4px solid darkblue;
    }
}

/* Highlights Section */
@media screen and (max-width:700px){
    .highlights-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .highlights-build{
        background-color: white;
        margin: 5% 8%;
        padding: 2%;
        box-shadow: 5px 0px 10px 5px white;
    }
    .highlights-build:hover {
        cursor: pointer;
        transform: translate(0, -10px);
    }
}
@media screen and (min-width:700px) and (max-width:1100px){
    
    .highlights-build{
        background-color: white;
        margin: 8% 10%;
        padding: 2%;
        box-shadow: 5px 0px 10px 5px white;
    }
    .highlights-build:hover {
        cursor: pointer;
        transform: translate(0, -8px);
    }
}

/* connectivity section */
@media screen and (max-width:650px){
    .connectivity-container{
        text-align: left;
    }
    .connectivity-wrap{
        display: flex;
        flex-direction: column;
    }
    .connectivity-column{
        margin: 0;
        padding: 0;
    }
    .map-container h2{
        margin-top: 15px;
    }
    .map-container img{
        height: 250px;
        width: 400px;
    }
}
@media screen and (min-width:650px) and (max-width:900px){
    .connectivity-container{
        text-align: left;
    }
    .connectivity-wrap{
        display: flex;
        flex-direction: column;
    }
    .connectivity-column{
        margin: 0;
        padding: 0;
    }
    .map-container h2{
        margin-top: 15px;
    }
    .map-container img{
        height: 400px;
        width: 600px;
    }
}
@media screen and (min-width:900px) and (max-width:1100px){
    .connectivity-column{
        padding: 0;
        margin: 0;
    }
    .map-container img{
        height: 300px;
        width: 400px;
    }
}

/* footer */
@media screen and (min-width:350px) and (max-width:750px) {
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-form-container{
        width: 80%;
    } 
}

/* Form Popup Section */
@media screen and (max-width:1300px) {
    .form-popup .form-content{
        width:80%;
        position: relative;
    }
    .close-modal{
        position: absolute;
        top:0;
        right: 0;
    }
    .form-heading form input,.form-heading form button{
        padding: 0.6em;
        font-size: 1.45vw;
    }
    .form-heading p{
        font-size: 1.4em;
    }
}
@media screen and (max-width:1000px) {
    .form-heading form input,.form-heading form button{
        padding: 0.75em;
        font-size: 1.75vw;
    }
    .form-heading p{
        font-size: 1.3em;
    }
}
@media screen and (max-width:800px) {
    .form-popup .form-content{
        width:95%;
        position: relative;
    }
    .form-content img{
        height: 60vh;
    }
    .form-heading form input,.form-heading form button{
        font-size: 1.95vw;
    }
    .form-heading{
        margin-top: 2.5em;
    }
}
@media screen and (max-width:500px) {
    .form-heading form input,.form-heading form button{
        font-size: 3.5vw;
    }
    .form-content img{
        display: none;
    }
    .form-popup .form-content{
        padding: 1em;
        margin: 4em auto;
    }
    .form-content{
        grid-template-columns: 1fr;
    }
}

/* gallery */
@media screen and (max-width:1100px) {
    .glide__slide img{
        width: 90%;
    }
}
@media screen and (max-width:800px){
    .glide__slide img{
        width: 80%;
    }
}